# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env
.DS_Store

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Optional npm cache directory
.npm/

# Coverage reports
coverage/

# Build
build/

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
